body {
    text-align: center;
}

h1 {
    font-size: 62px;
}

div .title-container {
    height: 70px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

div.row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.margin {
    width: 50vw;
    height: 75px;
}

div.input-boxes {
    width: 400px;
    height: 75px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

div.box {
    width: 62px;
    height: 62px;
    margin: 4px;
}

input.boxes {
    width: 62px;
    height: 62px;

    font-size: 31px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    /*line-height: 62px;*/

    box-sizing: border-box;
    caret-color: transparent;
}

p {
    text-align: center;
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 62px;

    width: 62px;
    height: 62px;
    margin: auto;

    border: 3px solid black
}

p.right {
    background-color: rgb(114, 185, 0);
}

p.almost-right {
    background-color: rgb(228, 228, 0);
}

p.wrong {
    background-color: grey;
}

input.empty-box {
    border: none;
    caret-color: transparent;
    background-color: transparent;
    font-size: 0px;
}

.hide {
    display: none;
}

.spacer {
    height: 62px;
}

.letter-box {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.letter {
    width: 45px;
    border-radius: 15%;
    
}

#enter {
    width: 90px;
    border-radius: 10%;
}

#backspace {
    width: 90px;
    border-radius: 10%;
}